* {
	font-family: 'Nunito', sans-serif;
}

.navbar {
	overflow: hidden;
	background-color: #c9f5ff;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar ul li {
	display: inline;
}

.navbar ul li a {
	color: #000;
	text-decoration: none;
	padding: 2rem 2rem;
}

.navbar ul li a:hover {
	background-color: #ececec;
	font-weight: bold;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#logo {
	font-weight: bold;
}

#design {
	font-weight: bold;
}

#references {
	font-weight: bold;
}

.references-title {
        padding-left: 2rem;
}

.references {
        border: #000 0.1rem solid; 
        width: fit-content;
        text-align: center;
}
