* {
	font-family: 'Nunito', sans-serif;
	margin-top: 0;
	margin-bottom: 2rem;
	margin-right: 0;
	margin-left: 0;
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 1000;
	overflow: hidden;
	background-color: #c9f5ff;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar ul li {
	display: inline;
}

.navbar ul li a {
	color: #000;
	text-decoration: none;
	padding: 2rem 2rem;
}

.navbar ul li a:hover {
	background-color: #ececec;
	font-weight: bold;
}

#logo {
	font-weight: bold;
}

#design {
	font-weight: bold;
}

#references {
	font-weight: bold;
}

.references {
	border: #000 0.1rem solid;
	width: fit-content;
	padding: 1rem;
	margin-left: 2rem;
}

.logo-title,
.design-title,
.references-title {
	padding-left: 2rem;
}

.logo-rationale,
.logo-variation {
	margin: 2rem;
}

hr {
	width: 96%;
	
}

.logo-variation {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.logo-item {
	text-align: center;
}

.logo-item p {
	margin-top: 0.5rem;
}

.logo-item img {
	display: block;
	margin: 0 auto;
}

.logo-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.logo-group .logo-item {
	margin: 2rem;
}

.favicon-group {
	display: flex;
	justify-content: center;
	align-items: center;
}

.favicon-item {
	text-align: center;
	margin: 0 1rem;
}

.favicon-item p {
	margin-top: 0.5rem;
}
