* {
	font-family: 'Nunito', sans-serif;
}

.navbar {
	opacity: 0.5; /* Set opacity to 0.5 */
        background-color: ;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar ul li {
	display: inline;
}

.navbar ul li a {
	color: white;
	text-decoration: none;
	padding: 10px 20px;
}

.navbar ul li a:hover {
	background-color: 0.555; /* Hover background color */
}

.content {
	height: 1500px; /* Example content to demonstrate scrolling */
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	opacity: 1; /* Set opacity to 1 when sticky */
}
