* {
	font-family: 'Nunito', sans-serif;
}

.navbar {
	background-color: #c9f5ff;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar ul li {
	display: inline;
}

.navbar ul li a {
	color: #000;
	text-decoration: none;
	padding: 10rem;
}

.navbar ul li a:hover {
	background-color: #ececec;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
