* {
	font-family: 'Nunito', sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #c9f5ff;
    height: 5rem;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: #000;
    text-decoration: none;
    padding: 1.25rem 1.25rem;
}

.navbar ul li a:hover {
    background-color: #ECECEC;
    font-weight: bold;
}
.navbar ul li a:hover {
    background-color: #ECECEC;
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
